/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

* {
	font-size: medium;
}

body {
	width: 876px;
	margin: 0 auto;
	box-sizing: border-box;
}

header {
	margin-top: 30px;
	display: relative;
	
}

header div {
	display: inline-block;
	
}

header nav {
	display: inline-block;
	margin-bottom: 50px;
}

header nav a:hover,
header nav a:active {
    border-bottom: 2px solid lightblue;
    transition: border-bottom 0.2s;
}

header nav a {
	margin: 0 23px;
	text-decoration: none;
	color: rgb(126, 80, 80);
}

.logo {
	margin-left: 50px;
	vertical-align: -10px
}

h3 {
	font-size: 150%;
}

.get-started-button {
	margin: 0 30%;
	vertical-align: 50px;
	width: 150px;
	background: none;
	border: 1px solid black;
	padding: 5px;	
}

.get-started-button:hover {
	background: lightblue;
}

.line {
	margin: 50px 0;
}

.top {
	position: relative;
}

.top div{
	display: inline-block;
	width: 49%;	
}

.innovation {
	font-size: 450%;
	display: inline-block;
	vertical-align: 25px;
	margin-left: 60px;
	text-align: center;	
}

.upper-section {
	position: relative;
}

.upper-section div{
	display: inline-block;
	width: 49.5%;	
}

.upper-section p {
	width: 90%;
	margin-bottom: 20px;
}

.middle-img {
	padding: 40px 0;
}


.lower-section {
	position: relative;
}

.lower-section div {
	display: inline-block;
	width: 33%;
	margin-bottom: 20px;	
}

.address {
	line-height: 20px;
}

.contact {
	line-height: 40px;
}

.footer {
	text-align: center;
	padding: 30px;
}
